.input {
  width: 320px;
  background-color: transparent;
  font-family: roboto;
  padding: 0 10px;

  &_size_s {
    height: 32px;
  }

  &_size_m {
    height: 40px;
  }

  &_size_l {
    height: 60px;
  }
}
