@font-face {
  font-family: roboto;
  src: url('@/public/assets/fonts/roboto.ttf') format('ttf'), url('@/public/assets/fonts/roboto.eot') format('eot'),
    url('@/public/assets/fonts/roboto.woff') format('woff'), url('@/public/assets/fonts/roboto.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
