* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #21242B;
}

#root {
  height: 100%;
}

@font-face {
  font-family: roboto;
  src:
    url('assets/fonts/roboto.ttf') format('ttf'),
    url('assets/fonts/roboto.eot') format('eot'),
    url('assets/fonts/roboto.woff') format('woff'),
    url('assets/fonts/roboto.woff2') format('woff2')
  ;
}