.rooms-empty {
	@include flex(row nowrap, center, center);
	width: 100%;
	min-height: calc(100vh - 70px);
	padding: 0 20px;

	p {
		text-align: center;
		line-height: 25px;

		span {
			background-color: $primary;
			border-radius: 5px;
			padding: 2.5px 5px;
			color: $color-white;
		}
	}
}
