.button {
	background-color: $color-white;
	font-family: 'Courier New', Courier, monospace;
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
	}

	&_type_primary {
		color: $color-white;
		background-color: $primary;

		&:disabled {
			background-color: $bg-light-gray;
			color: $secondary;
		}

		&:not(:disabled):hover {
			background-color: $hover_primary;
		}
	}

	&_type_outline {
		background-color: transparent;
		border: 1px solid $primary;
		color: $primary;

		&:disabled {
			border: 1px solid $bg-light-gray;
			color: $secondary;
		}

		&:not(:disabled):hover {
			border: 1px solid $hover_primary;
		}
	}

	&_type_danger {
		color: $color-white;
		background-color: $danger;

		&:disabled {
			background-color: $bg-light-gray;
			color: $secondary;
		}

		&:not(:disabled):hover {
			background-color: $hover-danger;
		}
	}

	&_size_l {
		height: 45px;
		border-radius: 10px;
		padding: 0 16px;
	}

	&_size_s {
		height: 40px;
		border-radius: 8px;
		padding: 0 12px;
	}

	&_size_m {
		height: 35px;
		border-radius: 6px;
		padding: 0 8px;
	}
}
